.ImageSlider{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Images{
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleImage{
    height: 170%;
    width: 150%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 1px;
    border: 1px solid white;
}
.rightImage{
    height: 230px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    transform: translateX(40px);
    z-index: -9;
    filter: blur(3px) saturate(0.5);
}
.leftImage{
    height: 230px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    transform: translateX(-40px);
    z-index: -9;
    filter: blur(3px) saturate(0.5);
}
.buttons{
    display: flex;
    gap: 100px;
    transform: translateY(-1px);
}
.rightButton{
    transform: scaleX(-1);
    padding: 10px;
    border: 1px solid black;
    border-radius: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.leftButton{
    padding: 10px;
    border: 1px solid black;
    border-radius: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dots{
    height: 5px;
    width: 5px;
    border: 1px solid black;
    border-radius: 100%;
}
.dots.active{
    height: 5px;
    width: 5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
}
.dots.passive{
    height: 5px;
    width: 5px;
    border: 1px solid black;
    border-radius: 100%;
}
.dotsPlace{
    display: flex;
    gap: 10px;
}